html,
body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  color: #102a43;
  background-color: #f0f4f8;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

button {
  padding: 16px 24px;
  font-size: 1.5em;
  width: 200px;
  margin-bottom: 24px;
}

.container {
    padding: 10%;
}

#result {
    background-color: #102a43;
    border-radius: 4px;
    color: #fff;
    padding: 16px 24px;
    min-height: 24px;
    line-height: 24px;
}

.validations {
  position: fixed;
  bottom: 8px;
  right: 8px;
}
