html,
body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  color: #102a43;
  background-color: #f0f4f8;
  display: flex;
  align-items: center;
}

fieldset {
  width: 480px;
  margin: auto;
  border-radius: 8px;
  padding: 24px;
  background-color: #eae2f8;
  border: 2px solid #9fb3c8;
}

fieldset legend {
  background-color: aliceblue;
  padding: 2px 8px;
  border: 2px solid #9fb3c8;
  border-radius: 4px;
}

form > label {
  font-weight: bold;
  display: inline-block;
}

.label {
  min-width: 140px;
}

input,
select {
  padding: 4px;
  margin-bottom: 16px;
}

input.button {
  margin: 0;
  background-color: orchid;
  border: none;
  padding: 8px 32px;
  border-radius: 4px;
  font-weight: bold;
}

.validations {
  position: fixed;
  bottom: 8px;
  right: 8px;
}

a:link {
  color: #35469c;
  text-decoration: none;
}

a:visited {
  color: #9b1b5a;
}
